<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{.Title}}</title>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="/client/public/css/plugins.css">
        <link type="text/css" rel="stylesheet" href="/client/public/css/style.css">
        <link rel="stylesheet" href="/client/public/css/disabled.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="/client/public/images/kmrc-logo.png">
    </head>
    <body>
       
        {{embed}}

        <!--=============== scripts  ===============-->   
        <script src="/client/public/js/jquery.min.js"></script>
        <script src="/client/public/js/plugins.js"></script>
        <script src="/client/public/js/scripts.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwJSRi0zFjDemECmFl9JtRj1FY7TiTRRo&libraries=places"></script>
        <script src="/client/public/js/map-single.js"></script>
    </body>
</html>